.text{
    --bg-height: ;
    --bg-width: ;

    height: var(--bg-height);
    width: var(--bg-width);
    color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
}

app-footer .footer-row {
    display: flex;
    flex-direction: row;
    gap:12%; 
    align-items: center;
}

.logo{
    --bg-height: ;

    height: var(--bg-height);               /* 200px de alto del contenedor */
    display: block;
}

app-footer .footer-container {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
}

app-footer .footer-section{
    display: flex;
    flex-direction: row;
    color: black;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20rem;
}

app-footer .hor-bar{
    width:1800px;
    height: 4px;
    background-color: rgb(88, 1, 62);
    border-radius: 20px;
}
@media screen and (max-width: 768px) {
    app-footer .footer-container{
        flex-direction: column;
        height: auto;
    }
    app-footer .container-row {
        flex-direction: column;
    } 
}