app-categories-list .listEquipoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0;
}

app-categories-list .listEquipoRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

app-categories-list .listEquipoItem {
    font-size: 1.6rem;
    font-family: "Lora", Sans-serif;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    width: 150px;
    border: none;
}

app-categories-list .listEquipoImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

app-categories-list .listEquipoRedes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

app-categories-list .listEquipoRedesImg {
    width: 10px;
    height: 10px;
    object-fit: contain;
    margin: 0 5px;
}

app-categories-list .listEquipoRedesRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
